
.button {
    display: flex;
    padding: 23px 0 23px 262px;
}
.button button {
    width: 180px;
    height: 40px;
}
.drawer {
    position: absolute;
    background-color: #ecf3f7;
    top: 65px;
    right: 0;
    height: calc(100% - 65px);
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}
.drawer ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: inherit;
}


@media (max-width: 600px){
    .button {
        padding: 15px 0;
        justify-content: center;
    }
    .drawer {
        width: 100%;
        height: 100%;
        top: 50px;
        overflow: auto;
        padding-bottom: 20px;
    }
}
